@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/LatoWeb-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Reg';
	src: url('../fonts/LatoWeb-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iceland-Reg';
	src: url('../fonts/Iceland-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Pirulen';
	src: url('../fonts/pirulen_rg.ttf') format('truetype');
}

@keyframes reveal {
	from {opacity: 0}
	to {opacity: 1}
}

hmtl, body{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Lato-Light';
	color: white;
	background-color: #313544;
	font-size: 20pt;
	overflow-x: hidden;
}

h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a, a:link, a:visited{
	color: white;
	text-decoration: none;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
}

a:hover{
	color: #65d3dc;
}

#header{
    width: 100%;
    position: relative;
    height: 160px;
	opacity: 0;
}

#logo{
	height: 100%;
    position: absolute;
    margin: 0 0 0 5%;
    font-weight: lighter;
    width: 30%;
    letter-spacing: 10px;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

#logo img{
	height: 100%;
}

#logo span{
	font-family: 'Pirulen';
    display: block;
    font-size: 1.6em;
}

#logo span:nth-child(2){
    color: #65d3dc;
    font-size: 0.5em;
	letter-spacing: 1.2em;
}

.nav{
	text-align: right;
    position: absolute;
    right: 0;
    margin: 0 5% 0 0;
    padding: 0;
    width: 50%;
}

.nav li{
	letter-spacing: 5px;
	font-size: 0.6em;
	font-family: 'Lato-Reg';
	margin: 0 5%;
	display: inline-block;
	line-height: 160px;
}

#main-page{
    position: relative;
    background-color: #313544;
    height: 600px;
    background-size: 100% 100%;
}

@keyframes animate_back {
	0% {right: 0px; top: 0px}
	33% {right: 80px; top: 20px}
	66% {right: 40px; top: -10px}
	100% {right: 0px; top : 0px}
}

@keyframes animate_mid {
	0% {left: 0px; top: 0px}
	25% {left: 20px; top: 0px}
	50% {left: 10px; top: -20px}
	75% {left: -20px; top: -20px}
	100% {left: 0px; top: 0px}
}

@keyframes animate_front {
	0% {left: 0px;}
	60% {left: -60px;}
	80% {left: -30px;}
	100% {left: 0px;}
}

.home-bg{
	opacity: 0;
}

#bg_back{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/bg_back.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: animate_back 12s linear infinite;
}

#bg_mid{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/bg_mid.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: animate_mid 7s linear infinite;
}

#bg_front{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../images/bg_front.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: animate_front 8s linear infinite;
}

#slogan{
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity: 0;
}

#slogan span{
	letter-spacing: 20px;
	display: block;
	font-size: 20pt;
	margin: 30px 0;
}

#slogan span:nth-child(2){
	color: #65d3dc;
}

h2{
    letter-spacing: 5px;
    margin: 100px 0 0px 5%;
    font-weight: lighter;
    font-size: 30pt;
}

p{
    font-size: 14pt;
    line-height: 30px;
    letter-spacing: 5px;
    width: 45%;
    margin: 30px 0 30px 5%;
    font-weight: lighter;
}

.section{
	position: relative;
	margin: 100px auto 100px auto;
}

.section span{
	color: #65d3dc;
}

@keyframes animate_vis_top {
	0% {left: 0px}
	50% {left: 100px}
	100% {left: 0px}
}

@keyframes animate_vis_mid {
	0% {left: 0px}
	50% {left: 40px}
	100% {left: 0px}
}

@keyframes animate_vis_bot {
	0% {left: 0px}
	50% {left: 150px}
	100% {left: 0px}
}

#vision-header{
	opacity: 0;
}

.vision-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#vision-bg-top{
	background-image: url('../images/vision_top.png');
	animation: animate_vis_top 8s infinite;
}

#vision-bg-mid{
	background-image: url('../images/vision_mid.png');
	animation: animate_vis_top 6s infinite;
}

#vision-bg-bottom{
	background-image: url('../images/vision_bottom.png');
	animation: animate_vis_top 11s infinite;
}

hr{
    margin: 10px 0 30px 0;
    width: 50%;
    border: 1px solid #6896a3;
}

.vision-par{
	opacity: 0;
}

@keyframes serv_left_anim {
	0% {left: 0; transform: scale(1);}
	50% {left: 25%; transform: scale(1.1);}
	75% {left: 25%; transform: scale(0.9);}
	100% {left: 60%; transform: scale(1);}
}

@keyframes serv_mid_anim {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
}

@keyframes serv_right_anim {
	0% {left: 0; transform: scale(1);}
	50% {left: -25%; transform: scale(1.1);}
	75% {left: -25%; transform: scale(0.9);}
	100% {left: -60%; transform: scale(1);}
}

#services #serv-title{
	margin: 100px 0 0 0;
	text-align: center;
	opacity: 0;
}

#services h4{
	font-size: 0.7em;
	line-height: 1.4em;
	transition: color 0.2s;
}

#services hr{
	margin: 10px auto 30px auto;
	opacity: 0;
}

.serv-icon-row{
	text-align: center;
	opacity: 0;
}

.service-icon{
	width: 150px;
	margin: 0 3%;
	display: inline-block;
	fill: white;
	cursor: pointer;
	transition: fill 0.2s;
}

.service-icon:hover{
	fill: #65d3dc;
	color: #65d3dc;
}

#desc-container{
	opacity: 0;
	position: relative;
}

.service-desc{
	position: absolute;
	opacity: 0;
	transition: opacity 0.2s;
}

.show-desc{
	opacity: 1;
}

.services-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: -100;
	opacity: 0;
}

#services-left{
	background-image: url('../images/services_left.png');
	animation: serv_left_anim 24s infinite;
	animation-direction: alternate;
}

#services-mid{
	background-image: url('../images/services_mid.png');
	animation: serv_mid_anim 6s 1s infinite;
}

#services-right{
	background-image: url('../images/services_right.png');
	animation: serv_right_anim 24s infinite;
	animation-direction: alternate;
}

#services h3{
	letter-spacing: 5px;
	margin: 80px 0 0 0;
	font-size: 1em;
	text-align: center;
}

#services p{
	margin: 30px auto;
	width: 80%;
	text-align: justify;
}

#footer{
	background-color: white;
	color: black;
}

#footer h4{
	margin: 0;
	font-size: 0.7em;
}

#footer img{
	width: 40px;
	margin: 20px 40px 20px 0px;
}

#footer p{
	margin: 20px 0 0 0;
	font-size: 0.7em;
	letter-spacing: normal;
}

.footer-sec{
	display: inline-table;
	text-align: justify;
	width: 40%;
	margin: 50px 0 30px 9.5%;
}
