<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <link rel="icon" href="{{ asset('assets/icons/xh_icon.png') }}">
        <meta name="author" content="Michał Dominik, Tomasz Lipiński, Tomasz Zabawka" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <title>{% block title %}XHUMAN TECHNOLOGIES{% endblock %}</title>
    </head>
    <body>
        <div id='header'>
            <div id='logo'>
            <a href="{{ path('index') }}">
                <img src="{{ asset('assets/images/xhuman_logo_v1.jpg') }}">
            </a>
            </div>
            <ul class='nav'>
                <li><a href="{{ path('services') }}">SERVICES</a></li>
                <li><a href='#contact'>CONTACT</a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        <div id='footer'>
            <div id='contact' class='footer-sec'>
                <h4>CONTACT</h4>
                <p>info@x-human.tech</p>
                <p>+48 513 198 887</p>
            </div>
            <div class='footer-sec'>
                <h4>SOCIAL MEDIA</h4>
                <img src="{{ asset('assets/icons/facebook_icon.png') }}">
                <img src="{{ asset('assets/icons/twitter_icon.png') }}">
                <img src="{{ asset('assets/icons/linkedin_icon.png') }}">
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
