{% extends 'base.html.twig' %}

{% block body %}
<div id='main-page'>
<div id='bg_back' class='home-bg anim-bg'></div>
<div id='bg_mid' class='home-bg anim-bg'></div>
<div id='bg_front' class='home-bg anim-bg'></div>
    <div id='slogan'>
        <span>PROSPERITY</span>
        <span>THROUGH</span>
        <span>AUTOMATION</span>
    </div>
</div>

<div id='vision' class='section'>
    <div id='vision-bg-top' class='vision-bg'></div>
    <div id='vision-bg-mid' class='vision-bg'></div>
    <div id='vision-bg-bottom' class='vision-bg'></div>
    <h2 id='vision-header'>VISION</h2>
    <hr>
    <p class='vision-par'>
        We see a future where people are <span>free</span> to develop their business and
        <span>prosper</span> without having to worry about technology.
    </p>
    <p class='vision-par'>
        At XHUMAN Technologies, we believe that this vision is possible
        only through <span>business automation</span>. In our future all of the tedious and
        costly manual processes are gone. Their place is taken by virtually
        <span>costless</span>, perfectly <span>optimized</span> and <span>intelligent</span> automatons.
    </p>
    <p class='vision-par'>
        XHUMAN Technologies is dedicated to turning this vision into <span>reality</span>.
    </p>
    <p class='vision-par'>
        Through our joint expertise we provide a wide variety of <span>efficient
        solutions</span> for automating business procedures. This spans from designing
        and building web applications to automatic information gathering and
        integration gat as well as data-driven insights, and machine
        intelligence advice.
    </p>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/home_anim.js') }}"></script>
{% endblock %}
