{% extends 'base.html.twig' %}

{% block body %}

<div id='services' class='section'>
    <div id='services-left' class='services-bg'></div>
    <div id='services-mid' class='services-bg'></div>
    <div id='services-right' class='services-bg'></div>
    <h2 id='serv-title'>SERVICES</h2>
    <hr>

    <div class='serv-icon-row'>

    <div id='app-icon' class='service-icon'>
    <svg viewBox="-12 -12 48 48" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M0 1h24v22h-24v-22zm22 20v-15h-20v15h20zm-5.455-10.48l-4.143 3.579c-.675-.138-1.401.068-1.894.618-.735.824-.665 2.088.159 2.824.823.736 2.088.665 2.824-.158.492-.551.616-1.296.402-1.951l3.107-4.507-.455-.405zm-9.545 6.48h-3c0-4.415 3.585-8 8-8 1.163 0 2.269.249 3.267.696l-2.79 2.326-.477-.022c-2.759 0-5 2.24-5 5zm13 0h-3c0-.864-.219-1.676-.605-2.385l1.729-2.761c1.17 1.392 1.876 3.187 1.876 5.146z"/></svg>
    <h4>WEB<br>APPS</h4>
    </div>

    <div id='tc-icon' class='service-icon'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-12 -12 48 48"><path d="M17.997 18h-11.995l-.002-.623c0-1.259.1-1.986 1.588-2.33 1.684-.389 3.344-.736 2.545-2.209-2.366-4.363-.674-6.838 1.866-6.838 2.491 0 4.226 2.383 1.866 6.839-.775 1.464.826 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.811-2.214c-1.29-.298-2.49-.559-1.909-1.657 1.769-3.342.469-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.324 0 3.903 2.268 1.77 2.246 6.676h4.501l.002-.463c0-.946-.074-1.493-1.192-1.751zm-22.806 2.214h4.501c-.021-4.906 2.246-2.772 2.246-6.676 0-1.507-.983-2.324-2.248-2.324-1.869 0-3.169 1.787-1.399 5.129.581 1.099-.619 1.359-1.909 1.657-1.119.258-1.193.805-1.193 1.751l.002.463z"/></svg>
    <h4>TECH CONSULTANCY</h4>
    </div>

    <div id='ani-icon' class='service-icon'>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-12 -12 48 48"><path d="M17 10.645v-2.29c-1.17-.417-1.907-.533-2.28-1.431-.373-.9.07-1.512.6-2.625l-1.618-1.619c-1.105.525-1.723.974-2.626.6-.9-.373-1.017-1.116-1.431-2.28h-2.29c-.412 1.158-.53 1.907-1.431 2.28h-.001c-.9.374-1.51-.07-2.625-.6l-1.617 1.619c.527 1.11.973 1.724.6 2.625-.375.901-1.123 1.019-2.281 1.431v2.289c1.155.412 1.907.531 2.28 1.431.376.908-.081 1.534-.6 2.625l1.618 1.619c1.107-.525 1.724-.974 2.625-.6h.001c.9.373 1.018 1.118 1.431 2.28h2.289c.412-1.158.53-1.905 1.437-2.282h.001c.894-.372 1.501.071 2.619.602l1.618-1.619c-.525-1.107-.974-1.723-.601-2.625.374-.899 1.126-1.019 2.282-1.43zm-8.5 1.689c-1.564 0-2.833-1.269-2.833-2.834s1.269-2.834 2.833-2.834 2.833 1.269 2.833 2.834-1.269 2.834-2.833 2.834zm15.5 4.205v-1.077c-.55-.196-.897-.251-1.073-.673-.176-.424.033-.711.282-1.236l-.762-.762c-.52.248-.811.458-1.235.283-.424-.175-.479-.525-.674-1.073h-1.076c-.194.545-.25.897-.674 1.073-.424.176-.711-.033-1.235-.283l-.762.762c.248.523.458.812.282 1.236-.176.424-.528.479-1.073.673v1.077c.544.193.897.25 1.073.673.177.427-.038.722-.282 1.236l.762.762c.521-.248.812-.458 1.235-.283.424.175.479.526.674 1.073h1.076c.194-.545.25-.897.676-1.074h.001c.421-.175.706.034 1.232.284l.762-.762c-.247-.521-.458-.812-.282-1.235s.529-.481 1.073-.674zm-4 .794c-.736 0-1.333-.597-1.333-1.333s.597-1.333 1.333-1.333 1.333.597 1.333 1.333-.597 1.333-1.333 1.333zm-4 3.071v-.808c-.412-.147-.673-.188-.805-.505s.024-.533.212-.927l-.572-.571c-.389.186-.607.344-.926.212s-.359-.394-.506-.805h-.807c-.146.409-.188.673-.506.805-.317.132-.533-.024-.926-.212l-.572.571c.187.393.344.609.212.927-.132.318-.396.359-.805.505v.808c.408.145.673.188.805.505.133.32-.028.542-.212.927l.572.571c.39-.186.608-.344.926-.212.318.132.359.395.506.805h.807c.146-.409.188-.673.507-.805h.001c.315-.131.529.025.924.213l.572-.571c-.186-.391-.344-.609-.212-.927s.397-.361.805-.506zm-3 .596c-.552 0-1-.447-1-1s.448-1 1-1 1 .447 1 1-.448 1-1 1z"/></svg>
    <h4>AUTOMATION & INTEGRATION</h4>
    </div>

    <div id='ml-icon' class='service-icon'>
    <svg viewBox="-12 -12 48 48" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M10.865 17.097c-2.289.805-5.172-.535-5.755-2.756-2.878-.005-5.086-1.408-5.11-3.886-.038-4.031 4.516-9.448 12-9.455 7.485-.007 11.996 5.312 12 10.329.004 5.017-4.182 6.897-7.607 6.263-.364 1.507-.171 3.578.232 4.747l-2.109.661c-.813-2.788-2.2-4.967-3.651-5.903zm-.692-9.276c-.691-.314-1.173-1.012-1.173-1.821 0-1.104.896-2 2-2s2 .896 2 2c0 .26-.05.509-.14.738 1.214.911 2.405 1.855 3.599 2.794.425-.333.96-.532 1.541-.532 1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5c-1.171 0-2.155-.807-2.426-1.895-1.201.098-2.404.173-3.606.254-.169.933-.987 1.641-1.968 1.641-1.104 0-2-.896-2-2 0-1.033.785-1.884 1.79-1.989.121-.731.252-1.46.383-2.19zm2.06-.246c-.297.232-.661.383-1.058.417l-.363 2.18c.504.224.898.651 1.08 1.177l3.647-.289c.047-.267.137-.519.262-.749l-3.568-2.736z"/></svg>
    <h4>MACHINE LEARNING</h4>
    </div>
    </div>

    <div id='desc-container'>
    <div id='app-desc' class='service-desc'>
    <h3>WEB APPS</h3>
    <p>
        From gorgeous websites to complex yet intuitive web services our
        applications make your workflow <span>smooth and efficient</span>. By using the
        newest technologies we ensure that our solutions are reliable, scalable
        and integrate seemlessly within your infrastrucure. By providing the
        necessary support and induction we make our products <span>easy to use</span>
        and elastic so that they suit your business needs perfectly.
    </p>
    </div>

    <div id='tc-desc' class='service-desc'>
    <h3>TECH CONSULTANCY</h3>
    <p>
        Do you find it hard to make the right technology choice for your project?
        Let us help you. Our experience and constant drive to learn allows us
        to provide the necessary <span>knowledge</span> to kickstart your entreprise. We will
        advise the solutions that suit your business best and make sure you have
        the proper intuition to move forward with the <span>best choices</span>.
    </p>
    </div>

    <div id='ani-desc' class='service-desc'>
    <h3>AUTOMATION & INTEGRATION</h3>
    <p>
        Make your information accesible <span>easily</span> and <span>fast</span> with our data handling
        solutions. We provide the necessary designs and implementations to enable
        you to use the full potential of the data requirements that modern
        businesses have. Through the use of data oriented applications, databases
        and Big Data solutions we offer to make your information <span>logical</span> and
        <span>intuitive</span>.
    </p>
    </div>

    <div id='ml-desc' class='service-desc'>
    <h3>MACHINE LEARNING</h3>
    <p>
        With more companies boosting their performance with artificial
        intelligence be sure not to miss out on the <span>benefits</span> this remarkable
        technology provides. Whether it is finding patterns in vast amounts of
        data, providing invaluable insight from complex information or automating
        decision making our AI solutions can <span>enhance</span> your performance and bring
        your business to the <span>next level</span>.
    </p>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/serv_anim.js') }}"></script>
{% endblock %}
